@import url('https://fonts.googleapis.com/css2?family=Lora&family=Quattrocento&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
}

p {
    color: #002D45;
}

/* Headings and logo */

header {
    background-color: #086d88;
    position: sticky;
    top: 0;
    z-index: 1;
}

h1 {
    font-family: Quattrocento, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #E6F4F1;
}

h2 {
    font-family: Quattrocento, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #086d88;
}

h3 {
    color: #086d88;
}

#logo {
    float: left;
    font-size: 45px;
    margin-left: 25px;
}

/* Navigation links */

#menu {
    font-size: 23px;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 60px;
}

nav ul {
    text-align: right;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: #E6F4F1;
}

#menu a:hover {
    border-bottom: 1px solid #E6F4F1;
}

/* Hero video and cover text */ 

#hero-outer {
    /* height:100vh; */
    position: relative;

}

#hero-video {
    width: 100%;
    max-height: 100vh;
    object-fit: fill;

}

#cover-text p {
    color: #E6F4F1;
}

#author {
    text-align: right;
    padding-right: 25px;
    font-style: normal;
}

#cover-text {
    font-size: 20px;
    font-style: italic;
    width: 1000px;
    height: 100px;
    padding: 20px;
    padding-bottom: 2px;
    background-color: rgba(8, 109, 136, .8);
    position: absolute;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* About us*/

#about-us {
    line-height: 35px;
}

.section-heading {
    font-family: Quattrocento, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #086d88;
    text-align: center;
    padding-top: 100px;
    font-size: 27px;

}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px;

}

.about-subcontainer {
    width: 45%;
    text-align: center;
}

#instructor-portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px;
}

#about-us a {
    color: #002D45;
}

#left-about a:hover {
    text-decoration: underline;
}

/* Benefits of yoga */

#benefits {
    line-height: 60px;
    background-image: url(../images/sea.jpg);
    background-size: cover;
}

#benefits-header {
    color: #002D45;
}

.flex-container-2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
}

#left-benefits {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid #086d88;
    text-align: center;
    color: #002D45;
    background-color: #E6F4F1;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#right-benefits {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid #086d88;
    text-align: center;
    color: #002D45;
    background-color: #E6F4F1;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#benefits ul {
    list-style-type: none;
}

/* Sign-up form */

.signup-page {
    clear: left;
    background: url('../images/beach.jpg');
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 120px);
}

.signup-form {
    margin: 110px 10% 0 0;
    color: #002D45;
    background-color: #E6F4F1;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.signup-form > h2 {
    color: #002D45;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #002D45;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #002D45;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #002D45;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #086d88;
    color: #E6F4F1;
    display: block;
}

.join-button:hover {
    background-color: #002D45;
}

/* Footer */

footer {
    height: 60px;
    background-color: #086d88;
}

.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 30px;
    margin: 1%;
    color: #E6F4F1;
}

/* Media queries */

@media screen and (max-width: 1100px) {

    #menu{
        clear: left;
        float: left;
        margin-left: 25px;
        margin-bottom: 10px;
        line-height: 25px;
        letter-spacing: 1px;
    }

#cover-text {
    width: 800px;
    height: 75px;
    padding: 20px;
    top: 65%;
    left: 50%;
}

/* For medium screen sizes from 900px wide and down */

@media screen and (max-width: 900px) {

    .flex-container-2 {
        flex-direction: column;
        justify-content: space-between;
        padding-top: 50px;
    }

    #menu li {
        margin-right: 5px;
    }

    #right-benefits {
        margin-top: 50px;
     }

     footer {
        height: 50px;
    }

    #cover-text {
        width: 500px;
        height: 80px;
        padding: 20px;
        top: 40%;
        left: 50%;
        padding-bottom: 50px;
    }
}

/* For medium screen sizes from 600px wide and down */

@media screen and (max-width: 600px) {

    #logo {
        font-size: 40px;
    }
    
    #menu {
        font-size: 15px;
        line-height: 20px;
    }

    #menu li {
        margin-right: 0;
    }

    #hero-video {
        height: 100vh;
        object-fit: fill;
    }

    #cover-text {
        width: 300px;
        height: 120px;
        padding: 20px;
        top: 60%;
        left: 50%;
        padding-bottom: 50px;
    }

    .section-heading {
        padding-top: 50px;
        padding-bottom: 0;
    }

    .flex-container {
        flex-direction: column;
        padding: 10px;
        margin-bottom:50px;
    }

    .about-subcontainer {
        width: 90%;
        padding-top: 50px;
    }

    .socials i {
        margin: 2%;
    }
}