@import url('https://fonts.googleapis.com/css2?family=Lora&family=Quattrocento&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
}

/* headings and logo */

header {
    background-color: rgba(77, 155, 184, 1);
    position: sticky;
    top: 0;
}

h1 {
    font-family: Quattrocento, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #E6F4F1;
}

h2 {
    font-family: Quattrocento, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgba(77, 155, 184, 1);
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 25px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 60px;
}

nav ul {
    text-align: right;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: #E6F4F1;
}

#menu a:hover {
    border-bottom: 1px solid #E6F4F1;
}

.active {
    font-weight: bold;
    border-bottom: 1px solid #E6F4F1;
}

/* hero video and cover text */ 

#hero-video {
    width: 100%;
    top: 60px;
    max-height: 650px;
    object-fit: fill;
}

#cover-text p {
    color: #E6F4F1;
}

#author {
    text-align: right;
    padding-right: 25px;
    font-style: normal;
    
}

#cover-text {
    font-size: 120%;
    font-style: italic;
    
    width: 1000px;
    height: 100px;

    padding: 20px;
    padding-bottom: 2px;

    background-color: rgba(77, 155, 184, .5);

    bottom: 50px;
    right: 250px;

    position: absolute;

    text-align: center;
}

/* about us*/

#about-us {
    height: 675px;
    line-height: 35px;
}

.section-heading {
    font-family: Quattrocento, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgba(77, 155, 184, 1);
    text-align: center;
    padding-top: 100px;

}

.flex-container {
    display: flex;
    flex-direction: column;
}

#left-about {
    padding-left: 100px;
    width: 40%;
    float: left;
    text-align: center;
    margin-top: 120px;
}

#right-about {
    padding-right: 100px;
    width: 40%;
    float: right;
    text-align: center;
    margin-top: 50px;
}

#instructor-portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px;
}

/* benefits of yoga */

#benefits {
    height: 675px;
    line-height: 35px;
    background-image: url('../images-videos/stones.jpg');
    background-size: 100%;
}

#left-benefits {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid;
    background-color:	rgba(230, 244, 241, .7);
    text-align: center;
    margin-top: 120px;
    line-height: 60px;
}

#right-benefits {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid;
    background-color:	rgba(230, 244, 241, .7);
    text-align: center;
    margin-top: 120px;
    line-height: 60px;
}

.flex-container-2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

#benefits ul {
    list-style-type: none;
}

/* sign-up form */

.signup-page {
    clear: left;
    background: url('../images-videos/beach.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #E6F4F1;
    background-color: rgba(0, 45, 69, .7);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #E6F4F1;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #E6F4F1;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgba(77, 155, 184, 1);
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(77, 155, 184, 1);
    color: #E6F4F1;
    display: block;
}

.join-button:hover {
    background-color: #E6F4F1;
    color: rgba(77, 155, 184, 1);
}
