@import url('https://fonts.googleapis.com/css2?family=Lora&family=Quattrocento&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
}

/* headings and logo */

header {
    background-color: rgba(77, 155, 184, 1);
}

h1 {
    font-family: Quattrocento, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #E6F4F1;
}

h2 {
    font-family: Quattrocento, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgba(77, 155, 184, 1);
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 25px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 60px;
}

nav ul {
    text-align: right;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: #E6F4F1;
}

#menu a:hover {
    border-bottom: 1px solid #E6F4F1;
}

.active {
    font-weight: bold;
    border-bottom: 1px solid #E6F4F1;
}

/* hero video and cover text */ 

#hero-video {

    position: fixed;
    width: 100%;
    top: 60px;
}

#cover-text p {
    color: #E6F4F1;
}

#author {
    text-align: right;
    padding-right: 25px;
    font-style: normal;
    
}

#cover-text {
    font-size: 120%;
    font-style: italic;
    
    width: 1000px;
    height: 100px;

    padding: 20px;
    padding-bottom: 2px;

    background-color: rgba(77, 155, 184, .5);

    bottom: 50px;
    right: 250px;

    position: absolute;

    text-align: center;
}

/* sign-up form */

.signup-form {
    clear: left;
    background: url('../images-videos/pexels-pixabay-289586.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
    opacity: .9;
}